@import "node_modules/bootstrap/scss/bootstrap";

html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #252525;
    color: #fff;
}

img {
    max-width: 100%;
}

#app{
    width: 100%;
    height: 100vh;

    header{
        height: 100px;
        display: flex;
        align-items: center;
    }

    main{
        width: 100%;
        height: calc(100vh - 100px);
        overflow-y: auto;

        &::-webkit-scrollbar{
            display: none;
        }
    }
}